<%= form_with scope: :Register, local: true do |form| %>
  <p>
    <%= form.label :user %><br>
    <%= form.text_field :user %>
  </p>
  
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :Name %>
  </p> 
  
  <p>
    <%= form.label :password %><br>
    <%= form.text_field :password %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>